BOT_TOKEN=tu_telegram_bot_token_aqui
PORT=8080
SUPABASE_URL=http://postgrest:3000
SUPABASE_KEY=dummy_key_for_postgrest
POSTGRES_PASSWORD=tu_password_seguro_aqui
PGRST_JWT_SECRET=tu_secreto_jwt_de_al_menos_32_caracteres_aqui